<h1> Celebrities webpage</h1>

<a href="/celebrities/create">Create New Celebrity</a>


<ul>
    {{#each celebrities}}
    <li><a href="celebrities/{{_id}}"><b>{{name}}</b></a></li>
  
   {{/each}}
</ul>
