<form action="/celebrities/create" method = "POST"</form>
    <label for="name"> Name </label>
    <input type="text" name="name" required placeholder="e.g. Conchita Velasco">


    <label for="occupation">occupation</label>
    <input type="text" name="occupation" required placeholder="e.g. actor, actress,...">
    

  

    <label for="catchphrase">Catchphrase</label>
    <input type="text" name="catchphrase" id=""  placeholder="hola que tal"> 


    
   
    <button type="submit">Submit</button>
</form>